# Relation between two letters in the same word

## Importing Libraries

In [1]:
import numpy as np
import pandas as pd
import string
import itertools

## Defining Functions

In [2]:
#defining functions

#splitting word into letters
def split(word):
    return [char for char in word]

#checking if word has two letters together
def has_both_letters(pair, word):
    if (pair[0]!=pair[1]): # case of different letters
      if pair[0] in word and pair[1] in word:
          return True
      else:
          return False
    else: # case of same letters
      count = 0
      for i in word:
        if i == pair[0]:
            count += 1
      if(count>=2):
        return True
      else:
        return False

In [4]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

## Initializing solution dataframe

In [5]:
solutions = pd.read_csv('/content/drive/MyDrive/valid_solutions.csv')
solutions = solutions.apply(lambda x: x.astype(str).str.upper())
solutions

       word
0     ABACK
1     ABASE
2     ABATE
3     ABBEY
4     ABBOT
...     ...
2310  YOUNG
2311  YOUTH
2312  ZEBRA
2313  ZESTY
2314  ZONAL

[2315 rows x 1 columns]

In [6]:
solution_list = list(solutions["word"])

In [8]:
alphabet_list = list(string.ascii_uppercase)
# alphabet_list

In [9]:
pair_list = list(itertools.product(alphabet_list,alphabet_list))
# pair_list

## Finding the covaraince relation

In [10]:
df_covariance = pd.DataFrame(columns = alphabet_list, index = alphabet_list)

In [11]:
for pair in pair_list:
  count = 0
  for word in solution_list:
    count = has_both_letters(pair, word) + count
  df_covariance.loc[pair[0]].at[pair[1]] = count

In [ ]:
df_covariance

,A,B,C,D,E,F,G,H,I,J,...,Q,R,S,T,U,V,W,X,Y,Z
A,70,107,179,130,362,66,110,123,142,7,...,12,318,224,257,76,66,59,12,144,19
B,107,13,29,38,119,7,25,26,62,2,...,1,94,35,56,62,4,9,4,41,6
C,179,29,29,37,171,25,13,118,115,3,...,2,145,85,95,90,18,20,3,43,2
D,130,38,37,22,179,18,42,29,123,2,...,1,129,38,61,71,15,33,3,82,2
E,362,119,171,179,172,83,131,136,232,9,...,13,424,256,277,140,98,86,23,97,19
F,66,7,25,18,83,22,15,24,71,2,...,0,78,32,57,40,2,9,2,37,4
G,110,25,13,42,131,15,11,31,98,1,...,0,95,39,51,73,15,16,0,47,4
H,123,26,118,29,136,24,31,10,87,1,...,2,101,114,135,68,10,40,2,49,1
I,142,62,115,123,232,71,98,87,24,6,...,11,194,147,192,63,51,45,20,85,9
J,7,2,3,2,9,2,1,1,6,0,...,0,6,2,8,10,0,1,0,9,1
K,83,17,68,8,65,17,4,26,46,2,...,5,56,69,29,35,3,13,0,33,0
L,288,83,101,83,280,72,72,61,168,3,...,6,114,129,123,114,45,46,10,108,8
M,124,26,49,32,114,11,28,38,75,3,...,1,87,61,55,69,5,8,3,54,2
N,198,46,88,76,218,34,101,62,192,7,...,1,132,113,119,106,25,49,7,81,4
O,151,82,125,109,209,51,84,98,91,12,...,3,253,154,181,96,56,71,13,98,9
P,119,6,54,29,156,3,19,42,96,1,...,2,116,116,79,64,6,12,5,69,5
Q,12,1,2,1,13,0,0,2,11,0,...,0,5,6,9,29,0,0,0,1,0
R,318,94,145,129,424,78,95,101,194,6,...,5,60,165,205,139,56,76,7,109,10
S,224,35,85,38,256,32,39,114,147,2,...,6,165,49,201,129,22,49,3,91,2
T,257,56,95,61,277,57,51,135,192,8,...,9,205,201,61,138,20,42,13,81,5
U,76,62,90,71,140,40,73,68,63,10,...,29,139,129,138,10,15,6,2,71,4
V,66,4,18,15,98,2,15,10,51,0,...,0,56,22,20,15,4,5,1,13,0
W,59,9,20,33,86,9,16,40,45,1,...,0,76,49,42,6,5,1,2,29,2
X,12,4,3,3,23,2,0,2,20,0,...,0,7,3,13,2,1,2,0,3,0
Y,144,41,43,82,97,37,47,49,85,9,...,1,109,91,81,71,13,29,3,8,8
Z,19,6,2,2,19,4,4,1,9,1,...,0,10,2,5,4,0,2,0,8,5